.App {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(104, 170, 224);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black;
  align-items: center;
}

.links {
  color: black;
  text-decoration: none;
  margin: 0px 30px;
}

.btn {
  border-radius: 15px;
  background-color: rgb(233, 140, 19);
  height: 25px;
  width: 80px;
  color: black;
  border: 1px solid rgb(3, 170, 31);
  cursor: pointer;
}